<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Today's Blog {% endblock%}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>       
        div.transbox {
          border: black;
          opacity: 0.7;
        }
        </style>
</head>
{% load static %}
{% if request.COOKIES.theme == "Dark" %}
<body data-bs-theme="dark">
{% else  %}
<body data-bs-theme="white">

{% endif %} 
<div style="background-image: url({% static 'images/index.jpg' %}); background-repeat: no-repeat; background-size: cover; background-position: center center; min-height: 100vh;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://127.0.0.1:8000/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <a class="nav-link dropdown-toggle" href="city/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Blogs
                        </a>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/blog/view">View blogs</a>
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/blog/add/">Add a new Blog</a>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex m-2" action="{% url 'blog:search_blog' %}" method="POST">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </form> 
                <form class="d-flex" role="search">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Theme
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'main:theme_set_light' %}">Light</a></li>
                          <li><a class="dropdown-item" href="{% url 'main:theme_set_dark' %}">Dark</a></li>
                        </ul>
                    </div>
                </form>
                
            </div>
        </div>
    </nav>
    {% block content %}
        
    {% endblock %}
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>