{% extends 'subjects/base.html' %}
{% block title %}READ{% endblock %}


{%block content%}
<div class="container row-5 mt-5">
    
<div class="row mb-2">
    {% for subject in subjects_save %}
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-2"><strong>{{subject.title}}</strong></h3>
                <div class="mb-1 text-muted me-3 mb-3">{{subject.published_date}} <br/> Is Published : {{subject.is_published}}</div>
                <p class="card-text mb-auto">{{subject.content}}</p>
                <a href="{% url 'subjects:details_page' subject.id %}" class="stretched-link mt-3">Click to read more</a>
                </div>
                
            </div>
        </div> 
    {% endfor %}
</div>

</div>

{% endblock %}