<!DOCTYPE html>
{% extends 'blog/base.html' %}




    {% block title %} Blog {% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center text-primary">Update blog . . .</h2>
      
        <form action="" method="POST">
            {% csrf_token %}
        <div class="container text-secondary">
            <label class="form-label">Title</label>
            <input type="text" name="Title" class="form-control" value="{{blog.Title}}"  />
        </div>
        <div class="container text-secondary">
            <label class="form-label">Content</label>
            <textarea class="form-control" name="Content">{{blog.Content}}</textarea>
        </div>
        <div class="container">
        <label class="form-label">Is publish</label>
        <select name="is_published" class="form-control" value="{{blog.is_published}}">
            <option value="True" >Yes</option>
            <option value="False">No</option>
        </select>
            </div>
             
       <div class="container">
        <label class="form-label">Publish date</label>
        <div class="container text-secondary border-secondary">
        <input type="date" value="{{blog.publish_date}}" name="publish_date" class="text-secondary "  />
        </div>
       </div>
            <br/>
              <div class="container">
              <input type="submit" class="btn btn-primary" value=" Update blog" />
              </div>
            </div>
            
        
        </form>
        
        </div>
    

{% endblock %}
