{% extends 'main/base.html' %}
{% load static %}
{% block title %} Details for {{ Posts.title }}  {% endblock %}
{% block content %}
<div class="container">
    <h1>{{ Posts.title }}</h1>
    <h6>Relased on: {{ Posts.publish_date}}</h6>
    <div class="m-3 d-flex gap-2"><a href="{% url 'main:update_post' Posts.id %}" class="btn btn-primary">update</a><a href="{% url 'main:delete_post' Posts.id %}" class="btn btn-danger">delete</a></div>
    <p>{{ Posts.content }}</p>
</div>

<hr/>
<div  class="m-3">
    {% for review in reviews  %}
        <div class="p-2 border mt-2">
            <h5>{{ review.name }}</h5>
            <p>{{ review.content }}</p>
        </div>
    {% endfor %}
</div>
<div>
    <h3>Add Review</h3>
    <div>
        <form action="{% url  'main:add_review' Posts.id %}" method="post">
            {% csrf_token %}
            <input type="text" name="name" class="form-control" placeholder="Your Name.." /> 
            <textarea name="content" class="form-control" placeholder="Your Review here..."></textarea>
            <input class="btn btn-primary" type="submit" value="Add Review" />

        </form>
    </div>
</div>
</div>

{% endblock %}








