{% extends 'main/base.html' %}


{% block content %}
<div class="container">
    <h2 style="text-align: center;"> Latest Blogs !</h2>

    <div class="row mb-2" >
      {% for blog in latest_blog %}
        <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <a href= "{% url 'blog:blog_detail' blog.id  %}"><h5 class="card-title">{{ blog.title }}</h5></a>
                  <h6>
                    {% if blog.is_pubilshed %} 
                      Pubilshed
                    {% else %}
                      Not Pubilshed
                    {% endif %}
                  </h6>
                  <p class="card-text">Content: {{ blog.content }}</p>
                  <p class="card-text">Published: {{ blog.publish_date }}</p>
                </div>
              </div>
              {% endfor %}
            </div>

    </div>

{% endblock %}