{% extends 'main/base.html' %}


{% block content %}
<div class="container">
    <h2> Search for blog !</h2>

    <div class="row">
        {% for blog in search_blog %}
            <div class="col-3">
                <div class="p-4 shadow" >
                    <a href="{% url 'blog:blog_detail' blog.id %}"><h4>{{ blog.title }}</h4></a>
                
                </div>
            </div>
        <h6 class="card-subtitle mb-2 text-muted">
            {% if blog.is_pubilshed %} 
                Pubilshed
            {% else %}
                Not Pubilshed
            {% endif %}
            </h6>
            <p class="card-text">Content: {{ blog.content }}</p>
            <p class="card-text">Published: {{ blog.publish_date }}</p>
    </div>
</div>
{% endfor %}
{% endblock %}