{% extends 'main/base.html' %}


{% block content %}
<dev class="container">

    

   

    
       
        
    <div style="margin-left: 500px; margin-right: 500px;">
        <h1>Add New Blog :</h1>

        
        <br>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-row">
        <div class="form-group col-md-4">    
        <label class="form-label"><strong>Title</strong></label>
        <input class="form-control" type="text" name="Title" class="form-control" />
        </div>

        <br>

        
        <div class="form-group col-md-4">
            <label class="form-label"><strong>Do you want to publish this blog</strong></label>
            <select name="is_published" class="form-select" aria-label="Default select example">
                <option selected><strong>...</strong></option>
                <option value="True">yes</option>
                <option value="False">No</option>
            </select>
        
        </div>
        <div class="form-group">
    <label class="form-label"><strong>Content</strong></label>
    <textarea class="form-control" name="Content"></textarea>
</div>
    <br>
    <br>

        
        <label class="form-label"><strong>publish_date</strong></label>
        <input type="datetime-local" name="publish_date"  />  
        <br>  
        <br>
        <input type="submit" class="btn btn-primary" value="ADD BLOG" />

    </form>



</div>

</div>
</div>
{% endblock %}