{% extends 'main/home.html' %}
{% load static %}
{% block title %} Update Page {% endblock %} 

{% block content %}

<div class="w3-content w3-container w3-padding-64" id="Addpost">
    <h3 class="w3-center"> UPDATE POSTS </h3>  
    <div class="w3-row w3-padding-32 w3-section w3-container">
      <div class="w3-col m10 w5-panel ">
  
        <form action="{% url 'main:update_post' post.id %}" method="post">
          {% csrf_token %}
          <div class="w3-row-padding" style="margin:0 -16px 16px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" name="title" placeholder="Title" value="{{ post.title }}" >
              </div>
            <div class="w3-half">
              <textarea class="w3-input w3-border " name="content"> {{ post.Content }} </textarea>
            </div>
          </div>
          <select class="w3-input w3-border" name="is_published" value="{{ post.publish_date }}">
          <option selected > Is it publishe ?</option>
          <option class="w3-input w3-border" value="True {% if post.is_published == True %} selected {% endif %}"> Yes </option>
          <option class="w3-input w3-border" value="False {% if post.is_published == False %} selected {% endif %}"> No </option> </select>
          <button class="w3-button w3-black w3-right w3-section" type="submit">
            <i class="fa fa-paper-plane"></i> UPDATE POSTS
          </button>

          

        </form>
      </div>
    </div>
  </div>
{% endblock %}

